

.show{
  width:100vw;
  height:100vh;
  text-align: center;
  background: rgb(241,213,225);
  background: linear-gradient(0deg, rgba(241,213,225,0.24693627450980393) 68%, rgba(233,186,148,0.6530987394957983) 95%);
}

.introTittle{
  font-size: 2.5em;
  color: grey;
  font-family: 'Quicksand';
  margin:0;
  position: absolute;
  top: 45%;
  left: 25%
}

.introTittle span{
  animation: opacity 0.5s linear;
}

@keyframes opacity {
  0%{
    opacity: 0;
  }
  100%{
    opacity:1
  }
}

.enter{
  font-size: 1.5em;
  color: rgba(233,186,148,0.6530987394957983);
  font-family: 'Quicksand';
  margin:0;
  position: absolute;
  top: 60%;
  left: 25%
}

.lampionRond{
  height : 90vh;
  width : 25vw;
  position: absolute;
  animation: animLampionRond 4s ease 0s forwards;
  left: 5%;
}

.lampionLong{
  height : 80vh;
  width : 20vw;
  position: absolute;
  animation: animLampionLong 4s ease 0s forwards;
  left: 70%;
}


@keyframes animLampionRond {
  0% {
    top: -150%;
  }
  100%{
    top: 5%;
  }
}

@keyframes animLampionLong {
  0% {
    top: -150%;
  }
  100%{
    top: -40%;
  }
}
