.branche{
  width: 85vw;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  padding-top: 9vh;
 
  
}

nav ul{
  list-style: none;
  position: absolute;
  color: rgb(0, 0, 0);
  font-family: 'Quicksand';
}

nav{
  position: fixed;
  width:100vw;
  background:linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 31%);
  height: 22vh;
}

.gradient{
  width:100vw;
  height: 15vh;
  background: linear-gradient(0deg, rgba(241,213,225,0.24693627450980393) 5%, rgba(219, 149, 164, 0.568) 95%);
  position:absolute;
  top:0;
  left:0;
}

nav h1{
  font-size: 0.9em;
  margin:0;
  
}

.homepage{
  padding-top: 15em
}

