.miniature{
  width: 45vw;
  box-shadow:
  0 2.8px 15.2px rgba(0, 0, 0, 0.050),
  0 6.7px 18.3px rgba(0, 0, 0, 0.060),
  0 12.5px 23px rgba(0, 0, 0, 0.070),
  0 22.3px 30.9px rgba(0, 0, 0, 0.080),
  0 41.8px 46.4px rgba(0, 0, 0, 0.090),
  0 80px 80px rgba(0, 0, 0, 0.080);
  border-radius: 5px;
  margin-bottom:0.5em;
}

.gif{
  width: 30vw;
  box-shadow:
  0 2.8px 15.2px rgba(0, 0, 0, 0.050),
  0 6.7px 18.3px rgba(0, 0, 0, 0.060),
  0 12.5px 23px rgba(0, 0, 0, 0.070),
  0 22.3px 30.9px rgba(0, 0, 0, 0.080),
  0 41.8px 46.4px rgba(0, 0, 0, 0.090),
  0 80px 80px rgba(0, 0, 0, 0.080);
  border-radius: 5px;
  margin-bottom:0.5em;
}

.projects{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.projects h1{
  font-size:1.5em;
  text-align: center;
  margin-bottom: 1.5em;
}

.interlude{
  display:flex;
}

.interlude img{
  width: 15px;
  padding: 1em 0.2em
}

.project{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.project h2{
  font-size: 1.2em;
  margin-bottom: 0.1em;
  margin-top: 0.8em
}

.project p{
  font-size: 0.6em;
  margin:0;
  padding:0
}

/*******DETAILS*******/

.shows{
  width:100vw;
  height:100vh;
  position:absolute;
  top:0;
  left:0;
  border: 1px solid red
}

/*TABLET*/
@media (min-width: 767px){
  .projects h1{
    font-size:2.5em;
    text-align: center;
    margin-bottom: 1.5em;
  }

  .project h2{
    font-size: 2em;
    margin-bottom: 0.1em;
    margin-top: 1em
  }
  
  .project p{
    font-size: 1em;
    margin:0;
    padding:0
  }

  .miniature{
    width: 50vw;
  }

  .gif{
    width: 20vw;
  }

  .interlude img{
    width: 40px;
    padding: 3em 0.2em
  }
}

/*DESKTOP SMALL*/
@media (orientation: landscape){

  .projects h1{
    font-size:2em;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 2em
  }

  .allProjects{
    display:flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 95vw;
  }

  .miniature{
    margin-bottom: 3em;
    width: 20vw;
    align-self: center
  }

  .gif{
    width: 10vw;
  }

  .project h2{
    font-size: 1.5em;
    margin-bottom: 0.1em;
    margin-top: 1em
  }
  
  .project p{
    font-size: 1em;
    margin:0;
    padding:0
  }

}

/*DESKTOP LARGE*/
@media (min-height: 800px) and (orientation: landscape){
  .projects h1{
    margin-top: 3em
  }
}